/* brown: '#5C4B51',
bluegreen: '#8CBEB2',
creme: '#F2EBBF',
vanilla: '#F3B562',
red: '#F06060', */

*{
	margin: 0;
	padding: 0;
	border: 0;
    font-family: 'cascadia code';
    overflow: hidden; 
} 
*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #e7dcb5;
}

.lang{
    border-radius: 0.5rem;
    transition: 0.3s;
    margin-bottom: 10px;
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    color: #5C4B51;
}

.lang:hover{
    background-color: #F06060;
    color: white;
    transform: translate(0, -5px);
}

#sidebar{
    transition: 0.3s;
    overflow: auto;
    height: 92%;
    width: 300px;
    padding: 10px;
    background-color: #F2EBBF;
}
#sidebar-container{
    float: left;
}

.container{
    height: 100vh;
}

#main-layout{
    background-color: #e7dcb5;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 10px;
    height: 95%;
}

@media (max-width: 600px){
    #sidebar{
        height: 88%;
        width: 0px;
        padding: 0px;
    }
    #main-layout {
        height: 88%;
    }
    #toggle-sidebar-button{
        flex-grow: 1;
    }
}

#main-layout::-webkit-scrollbar{
    display: none;
}

.waifu-pic{
    margin: 20px;
    width: 300px;
    border-radius: 0.5rem;
    transition: 0.3s;
    filter: grayscale(100%);
}

.waifu-pic:hover{
    transform: translate(0, -5px);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    border: solid #F06060 4px;
    filter: grayscale(0);
}

#navbar{
    width: 100%;
    display: flex;
    background-color: #993838;
}

#sidebar-head{
    width: 300px;
    background-color: #ee6d6d;
    color: white;
    padding: 10px;
    text-align: center;
}

#toggle-sidebar-button{
    background-color: #af4343;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
}