/* brown: '#5C4B51',
bluegreen: '#8CBEB2',
creme: '#F2EBBF',
vanilla: '#F3B562',
red: '#F06060', */

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'lucida console';
    overflow: hidden;
}
*::-webkit-scrollbar{
    display: none;
}

.lang{
    border-radius: 0.5rem;
    transition: 0.3s;
    margin-bottom: 10px;
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    color: #5C4B51;
}

.lang:hover{
    background-color: #F06060;
    color: white;
    transform: translate(0, -5px);
}

#sidebar{
    background-color: #F2EBBF;
    overflow-y: auto;
    padding: 10px;
    float: left;
    height: 100vh;
    width: 300px;
}

#main-layout{
    height: 100vh;
    background-color: #ffefef;
    padding: 20px;
    justify-content: center;
    overflow: auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#main-layout::-webkit-scrollbar{
    display: none;
}

.waifu-pic{
    margin: 20px;
    width: 300px;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.waifu-pic:hover{
    transform: translate(0, -5px);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    border: solid #F06060 1px;
    filter: grayscale(0);
}


@media (max-width: 600px) {
    #sidebar{
        display: none;
    }
  }
  