/* brown: '#5C4B51',
bluegreen: '#8CBEB2',
creme: '#F2EBBF',
vanilla: '#F3B562',
red: '#F06060', */

*{
	margin: 0;
	padding: 0;
    font-family: 'consolas';
    overflow: hidden; 
}

*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #e7dcb5;
}

.lang{
    border-radius: 0.5rem;
    transition: 0.3s;
    margin-bottom: 10px;
    cursor: pointer;
    list-style-type: none;
    padding: 10px;
    color: #5C4B51;
}

.lang:hover{
    background-color: #F06060;
    color: white;
    transform: translate(0, -5px);
}

#sidebar-list{
    transition: 0.3s;
    width: 300px;
    padding: 10px;
    background-color: #F2EBBF;
    overflow: auto;
    height: calc(100vh - 40px);
}

.root{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.layout-global{
    display: flex;
    flex-grow: 1;
    height: 100%;
}

#main-layout{
    padding: 10px;
    overflow: auto;
    display: flex;
    align-items: start;
    justify-content: left;
    flex-wrap: wrap;
    max-width: calc(100vw - 340px);
    height: calc(100vh - 40px);
}

#main-layout::-webkit-scrollbar{
    /* display: none; */
}

@media (max-width: 600px){
    #toggle-sidebar-button{
        flex-grow: 1;
    }
}

.waifu-pic{
    margin: 20px;
    width: 300px;
    border-radius: 0.5rem;
    transition: 0.3s;
    filter: grayscale(100%);
}

.waifu-pic:hover{
    transform: translate(0, -5px);
    -webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.39);
    border: solid #F06060 4px;
    filter: grayscale(0);
}

#navbar{
    width: 100%;
    display: flex;
    background-color: #993838;
}

#sidebar-head{
    width: 300px;
    background-color: #ee6d6d;
    color: white;
    padding: 10px;
    text-align: center;
}

#toggle-sidebar-button{
    background-color: #af4343;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: white;
    text-align: center;
}